body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  padding: 0;
  margin: 0;
}
a {
 text-decoration: none;
 line-height: 50px;
}
ul {
  list-style: none;
}

.button, a {
  color: #E50914;
  background-color: white;
  font-style: normal;
  font-family: Cambria, Arial;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #E50914;
  border-radius: 5px;
  padding: 10px 15px;
}
#youtube {
  color: #FF0000 !important;
  border-color: #FF0000;
}
#facebook {
  color: #1877F2;
  border-color: #1877F2;
}
#instagram,
#tiktok {
  color: black;
  border-color: black;
}
#twitter {
  color: #26a7de; 
  border-color: #26a7de;
}